numpy==1.19.3
jupyter==1.0.0
pynwb==1.4.0
h5py==2.10.0
isodate==0.6.0
nwb-conversion-tools @ git+https://github.com/catalystneuro/nwb-conversion-tools.git@3f4d2c4a90e1cb9dabe72940104835f3d67fd889
nwbwidgets @ git+https://github.com/NeurodataWithoutBorders/nwb-jupyter-widgets@6b2dd8d5a811e97c3c0ce2c40c905ff694d32ecc
ndx_events==0.2.0
